In [3]:
from bs4 import BeautifulSoup as soup
from html.parser import HTMLParser
from urllib.request import urlopen as uReq
import json, requests, random, os
import numpy as np
import pandas as pd

In [4]:
col_vars = ['due', 'receiver', 'sender', 'status', 'name', 'datetime', 'city']

In [5]:
def getData(track_id):
    if track_id == 0:
        return 0
    #SAMPLE :: https://th.kerryexpress.com/th/track/?track=SMLP000341000 # SEA's SAMPLE
    print("\n")
    url = 'https://th.kerryexpress.com/th/track/?track=' + track_id
    print("connecting.. : " + url + "\n")

    headers = requests.utils.default_headers()
    headers.update({'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0',})
    site_request = requests.get(url, headers=headers)
    site_content = soup(site_request.content, "html.parser") #lxml
    site_data = site_content.findAll("div", {"class":"col colStatus"}) #("table", {"class":"table table-info"})
    return site_data

In [40]:
def cleanData(site_data, ind=0):
    list = []
    lay1 = ['status piority-success', 'status normaly-waiting']
    lay2 = ['date', 'd1', 'd2']
    for i in range(len(lay1)):
        status = site_data[0].findAll("div", {"class":lay1[i]})
        if status is not None:
            for j in range(len(status)):
                print("\n ================= \n ")
                for k in range(len(lay2)):
                    data = status[j].findAll("div", {"class":lay2[k]})
                    if k == 0:
                        data = data[0].findAll("div")
                        data = [data[m].text.replace(' ', '').strip() for m in range(2)]
                        data = [''.join(data[n].split('e')[1:3]) for n in range(2)]
                    elif k == 1 and i == 0:
                        data = data[0].text.replace(' ', '').strip()
                        data = [data.split('(')[0],data. split('(')[1].split(')')[0], data.split('\n')[2]]
                    elif k == 1 and i != 0:
                        data = data[0].text.replace(' ', '').strip()
                        data = [data, None, None]
                    else:
                        data = data[0].text.replace(' ', '').strip()
                        data = [data]
                    print(str(data) + "\n ------------------")
                    list.append(data)
    print("\n ================= \n ")
    return list

In [54]:
def makeNP(outlist):
    col_names = ['date', 'time', 'sender', 'receiver', 'status', 'name', 'city']
    num = int(len(outlist) / 6)
    a = np.array(outlist)
    a = a.reshape((num, 6))
    return a

In [44]:
def list_flatten(l, a=None):
    #check a
    if a is None:
        #initialize with empty list
        a = []

    for i in l:
        if isinstance(i, list):
            list_flatten(i, a)
        else:
            a.append(i)
    return a

In [78]:
track_id = 'SMLP000341000'
#trackID = input("Type your Track-ID: ")
data = getData(track_id)
clean_data = cleanData(data)
flat_data = list_flatten(clean_data)
a = makeNP(flat_data)

connecting.. : https://th.kerryexpress.com/th/track/?track=SMLP000341000


 =================

['5ม.ค.62', '10:26']
 ------------------
['ปลายทางได้รับเรียบร้อยแล้ว', 'คุณบงกช', 'คุณบงกช']
 ------------------
['ฉะเชิงเทรา-ประเทศไทย']
 ------------------

 =================

['5ม.ค.62', '10:00']
 ------------------
['พัสดุรอนำส่ง', None, None]
 ------------------
['ฉะเชิงเทรา-ประเทศไทย']
 ------------------

 =================

['5ม.ค.62', '09:58']
 ------------------
['พัสดุถึงสาขาปลายทาง', None, None]
 ------------------
['ฉะเชิงเทรา-ประเทศไทย']
 ------------------

 =================

['4ม.ค.62', '23:09']
 ------------------
['พัสดุถึงศูนย์คัดแยกสินค้า', None, None]
 ------------------
['กรุงเทพ-ประเทศไทย']
 ------------------

 =================

['4ม.ค.62', '14:23']
 ------------------
['ผู้ส่งมาส่งพัสดุที่จุดส่ง', None, None]
 ------------------
['ลพบุรี-ประเทศไทย']
 ------------------

 =================

In [79]:
a

array([['5ม.ค.62', '10:26', 'ปลายทางได้รับเรียบร้อยแล้ว', 'คุณบงกช',
        'คุณบงกช', 'ฉะเชิงเทรา-ประเทศไทย'],
       ['5ม.ค.62', '10:00', 'พัสดุรอนำส่ง', None, None,
        'ฉะเชิงเทรา-ประเทศไทย'],
       ['5ม.ค.62', '09:58', 'พัสดุถึงสาขาปลายทาง', None, None,
        'ฉะเชิงเทรา-ประเทศไทย'],
       ['4ม.ค.62', '23:09', 'พัสดุถึงศูนย์คัดแยกสินค้า', None, None,
        'กรุงเทพ-ประเทศไทย'],
       ['4ม.ค.62', '14:23', 'ผู้ส่งมาส่งพัสดุที่จุดส่ง', None, None,
        'ลพบุรี-ประเทศไทย']], dtype=object)

In [80]:
head_list = ['date', 'time', 'status', 'receiver', 'name', 'city']
b = pd.DataFrame(columns = head_list, data = a)
b

,date,time,status,receiver,name,city
0,5ม.ค.62,10:26,ปลายทางได้รับเรียบร้อยแล้ว,คุณบงกช,คุณบงกช,ฉะเชิงเทรา-ประเทศไทย
1,5ม.ค.62,10:00,พัสดุรอนำส่ง,None,None,ฉะเชิงเทรา-ประเทศไทย
2,5ม.ค.62,09:58,พัสดุถึงสาขาปลายทาง,None,None,ฉะเชิงเทรา-ประเทศไทย
3,4ม.ค.62,23:09,พัสดุถึงศูนย์คัดแยกสินค้า,None,None,กรุงเทพ-ประเทศไทย
4,4ม.ค.62,14:23,ผู้ส่งมาส่งพัสดุที่จุดส่ง,None,None,ลพบุรี-ประเทศไทย

In [86]:
new = b["city"].str.split("-", n = 1, expand = True)
b["city"] = new[0]
new[0]

0    ฉะเชิงเทรา
1    ฉะเชิงเทรา
2    ฉะเชิงเทรา
3       กรุงเทพ
4        ลพบุรี
Name: 0, dtype: object

In [85]:
new[1]

0    ประเทศไทย
1    ประเทศไทย
2    ประเทศไทย
3    ประเทศไทย
4    ประเทศไทย
Name: 1, dtype: object

In [89]:
b["country"] = new[1]

In [90]:
b

,date,time,status,receiver,name,city,country
0,5ม.ค.62,10:26,ปลายทางได้รับเรียบร้อยแล้ว,คุณบงกช,คุณบงกช,ฉะเชิงเทรา,ประเทศไทย
1,5ม.ค.62,10:00,พัสดุรอนำส่ง,None,None,ฉะเชิงเทรา,ประเทศไทย
2,5ม.ค.62,09:58,พัสดุถึงสาขาปลายทาง,None,None,ฉะเชิงเทรา,ประเทศไทย
3,4ม.ค.62,23:09,พัสดุถึงศูนย์คัดแยกสินค้า,None,None,กรุงเทพ,ประเทศไทย
4,4ม.ค.62,14:23,ผู้ส่งมาส่งพัสดุที่จุดส่ง,None,None,ลพบุรี,ประเทศไทย

In [96]:
b.loc[0]

date                           5ม.ค.62
time                             10:26
status      ปลายทางได้รับเรียบร้อยแล้ว
receiver                       คุณบงกช
name                           คุณบงกช
city                        ฉะเชิงเทรา
country                      ประเทศไทย
Name: 0, dtype: object

In [107]:
d = b.to_json(orient='index', force_ascii=False)
d

'{"0":{"date":"5ม.ค.62","time":"10:26","status":"ปลายทางได้รับเรียบร้อยแล้ว","receiver":"คุณบงกช","name":"คุณบงกช","city":"ฉะเชิงเทรา","country":"ประเทศไทย"},"1":{"date":"5ม.ค.62","time":"10:00","status":"พัสดุรอนำส่ง","receiver":null,"name":null,"city":"ฉะเชิงเทรา","country":"ประเทศไทย"},"2":{"date":"5ม.ค.62","time":"09:58","status":"พัสดุถึงสาขาปลายทาง","receiver":null,"name":null,"city":"ฉะเชิงเทรา","country":"ประเทศไทย"},"3":{"date":"4ม.ค.62","time":"23:09","status":"พัสดุถึงศูนย์คัดแยกสินค้า","receiver":null,"name":null,"city":"กรุงเทพ","country":"ประเทศไทย"},"4":{"date":"4ม.ค.62","time":"14:23","status":"ผู้ส่งมาส่งพัสดุที่จุดส่ง","receiver":null,"name":null,"city":"ลพบุรี","country":"ประเทศไทย"}}'